html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: x-large;
    background-color: rgb(34, 34, 34);
    color: rgb(197, 197, 197);
    }
    h1 {
        font: bold, italic;
        }
        .sub {
            font: italic;
            font-size: small;
            padding-top: 0pt;
        }
a:link {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(248, 144, 144);
    background-color: transparent;
    text-decoration: none;
  }
.center_drop {
    
}
body {
    padding: 50px;
    hyphens: auto;
    word-break: normal;
    word-spacing: 120%;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: hidden 2px solid;
    padding: 40px 5px 40px 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 650px;
    margin-right: 650px;
    hyphens: auto;
}
.textboxmodel {
    width: 100px 100px;
    padding: 5px;
    word-break: normal;
}